.jumbotron{
    background-image: url("AustralianFlagHeader.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
    text-align: right;
}

.table-headers{
    background-color: royalblue;
    color: white;
}
