.jumbotron{
    background-image: url("AustralianFlagHeader.jpg");
    background-repeat: no-repeat; 
    background-size: cover;
    color: white;
    text-align: right;
}

.panel-primary{
    text-align: center;
    content: Days;
}

.table-headers{
    background-color: royalblue;
    color: white;
}
